*, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

#container {
    max-width: 1500px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    max-width: 200px;
}
.main {
    display: flex;
    position: absolute;
    top: 50px;
    right: 180px;
    font-size: 2em;
    background: linear-gradient(rgb(158, 0, 158), white);
}
.shop {
    display: flex;
    position: absolute;
    top: 50px;
    right: 80px;
    font-size: 2em;
}
#title {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}