body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

#container {
    max-width: 1500px;
}

.logo {
    margin: 20px;
    max
}

.logo span {
    color: blueviolet;
}