body {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

#container {
    max-width: 1500px;
}

.logo {
    position: absolute;
    top: 10px;
    left: 20px;
    max-width: 200px;
        @media (max-width:800px) {
            max-width
        }
}
.main {
    display: flex;
    position: absolute;
    top: 50px;
    right: 180px;
}
.shop {
    display: flex;
    position: absolute;
    top: 50px;
    right: 80px;
}
#title {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}